__pycache__/
*.pyc
*.pyo

# Virtual Environments
venv/
.venv/
env/

# Flask Session & SQLite Database
flask_session/
users.db
*.db

# Data & Logs
alert_log.txt

# Environment & IDE
.env
.vscode/
.idea/